img{
    width: 100%;    
}
.my-flex-container{
    display: flex;
    flex-wrap: wrap;
}
 /* .my-flex-block{
    border: 1px solid gray;
 } */
    @media (min-width:1px) and (max-width:1279px){
    .col-xl-2{
        width: 20%;
    }
}

@media (min-width:1280px) and (max-width:1919px){
    .col-lg-3{
        width: 25%;
    }
    .col-lg-6{
        width: 50%;
    }
}
@media (min-width:1920px){
     .col-xl-2{
        width: 20%;
    }
}