  *{
    text-align: center;
    height: 7em;
  }
  #title{    
    float: left;
    width: 30%;
    background-color: red;    
  }
  #description{    
    float:left;
    width: 70%;   
    background-color: orange;
  }
   
  #article{
    float: left;    
    width: 100%;
    background-color:green;    
    text-align:center;
  }  

  #footer_left{
    float: left;
    background-color: burlywood;
    width: 30%;
  }
  #footer_center{    
    float: left;
    background-color: blue;
    width: 40%;
  }
  #footer_right{    
    float: left;
    background-color: purple;
    width: 30%;
  }
  
  #link1{
    font-size: 25px;
    color: white;

  }
    /* For mobile phones: */
  @media only screen and (max-width:768px) {
  /* стили */
    #article, #footer_right, #title {
      width:100%;    
    }
    #description, #footer_center, #footer_left{
      display: none;
    }
  }

  /* iPads (вертикальная и горизонтальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #container{    
    display: flex;        
    flex-flow: row wrap;
  }
  #description {           
    width:30%;      
    order: 1;        
  }
  #footer_right{        
    order: 2;
    width: 70%;
  }
  #title{            
    order: 3;
    width: 100%;   
  }
  #article{      
    order: 4;
    width: 40%; 
  }  
  #footer_center{        
    order: 5;
    width: 60%;
  }
  #footer_left{        
    display: none;
  }
}

  
